<!DOCTYPE html>
<html>
<head>
    <title>Garden System</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
</head>
<body>

<h1>🌱 Garden System</h1>

<form method="post" action="/refresh_weather">
  <button>Refresh Weather Forecast</button>
</form>

<form action="/watering">
  <button>Watering Options</button>
</form>

<form action="/history">
  <button>Historic Options</button>
</form>

<form action="/automation">
  <button>Automation & Plant Status</button>
</form>
